*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}

.full_container{
    width:100%;
    height:auto;
    display:block;
}
.container{
    width: 1180px;
    height: 450px;
    display: block;
    margin-top: 40px;
    margin: 0 auto;

}

/*---------------------------------------*/
/*--------------header area-----------------*/
.text_area{
    width: 45%;
    height: 300px;
    float: left;
    margin-top: 3rem;
    padding: 19px;
    
}
.text_area h1{
    font-size: 40px;
    padding: 15px 0px;
    color:#EC4C7A ;
}
.text_area h2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.text_area p{
    color: #666666;
    line-height: 25px;
    padding-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.header_btn{
    padding: 8px 20px;
    background-color: #EC4C7B;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
}
.header_btn a{
    color:white;
    font-size: 20px;

}
.header_img{
    width: 50%;
    height: 440px;
    float: right;
}
.header_img img{
    width: 70%;
    height: 100%;
    margin-top: 25px;

}
/*--------end of header-area-----------*/